.head {
    display: flex;
    justify-content: center;
    background-color: black;
    height: 100px;
    width: 90%;
    border-radius: 10px;
    padding-right: 50px;
}

.head div,h1 {
    
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    align-items: center;
}

.titl {
    color: #d44747;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
}

.btn {
    width: 30%;
}